.slider-card {
    overflow: hidden;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.pokemon-card {
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}  

.pokemon-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 20px 40px rgba(7, 114, 71, 0.3);
}

.pokemon-image {
    transition: transform 0.3s ease-in-out;
}

.pokemon-card:hover .pokemon-image {
    transform: scale(1.1);
}